body {
    background-color: #E2F1F6;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
}
header {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

h1 {
    color: black;
    text-align: center;
    font-size: 3.0rem;
}



p {
    font-family: verdana;
    text-align: center;
    font-size: 1.08rem;
}

a{
  display: block;
  text-align: left;
}

    a:link {
        text-decoration: none;
        color: red;
    }

    a:visited {
        text-decoration: none;
        color: purple;
    }

    a:hover {
        text-decoration: underline;
        color: hotpink;
    }

    a:active {
        text-decoration: underline;
    }



img {
  display: block;
  margin: auto;
}
* {
    box-sizing: border-box;
}

.card {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    transition: max-height 0.2s ease-out;
    margin-bottom: 10px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 3px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

    .active, .collapsible:hover {
        background-color: #555;
    }

    .collapsible:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

ul.topnav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #555;
}

    /* Style links in topnav */
    ul.topnav li a {
        display: block;
        color: #f1f1f1;
        padding: 14px 16px;
        text-decoration: none;
    }

        /* Change color on hover */
        ul.topnav li a:hover {
            background-color: #dddddd;
            color: black;
        }
