body {
    background-image: url(../content/sky.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
}
header {
    background-color: #D9F4FC;
    padding: 10px;
    text-align: center;
}

h1 {
    color: black;
    text-align: center;
    font-size: 3.0rem;
}



p {
    font-family: verdana;
    text-align: center;
    font-size: 1.08rem;
}

a{
  display: block;
  text-align: left;
}

    a:link {
        text-decoration: none;
        color: red;
    }

    a:visited {
        text-decoration: none;
        color: purple;
    }

    a:hover {
        text-decoration: underline;
        color: hotpink;
    }

    a:active {
        text-decoration: underline;
    }



img {
  display: block;
  margin: auto;
}
* {
    box-sizing: border-box;
}

.card {
    background-color: #D9F4FC;
    border-radius: 10px;
    padding:10px;
    margin-bottom: 10px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 3px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
